:root{
    --ContenT-main-color: #198754;
    --BackGround-Hover:rgba(143, 179, 143, 0.245);
    --activeColor:#198754
}
  .modal-dialog{
    max-width: fit-content;
    margin:0.5rem auto !important ;

  }
/* ------------------------------------------------ */
/* nav */
.IconComp{
    margin-left: 10px;
    display: inline-table;
}
.IconComp i {
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.IconComp i:hover{
    background: var(--BackGround-Hover);
    cursor: pointer;
}
.IconComp .signInAv{
    height: 40px;
    width: 40px;
    background-size: contain;
    background-position: bottom;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.IconComp .signInAv:hover{
    cursor: pointer;
}
input.me-2.form-control:focus {
    outline: none;
    box-shadow: none;
}
/* ____________________________________________________ */
/* model comf */



/* -------------------------------------------- */
/* Home */
.Content-Home{
        width: 100vw;
        margin-left: auto;
        position: relative;
}
.LeftHomeContent {
    position: fixed;
    width: calc(1400px - 1100px);}
.RightHomeContent{
    width: 70%
}
.LeftBar {
    width: 30%;
    height: 100%;
    position: sticky;
  }
.LeftHomeContent .LeftContent_top{
    border-bottom: 1px solid #80808059;
}
.LeftHomeContent li,.LeftHomeContent .ListStyle {
    text-decoration: none;
    color: black;
    display: block;
    list-style: none;
    padding: 0.5rem;
    border-radius: 5px;
    padding-left: 0.2 rem;
    word-wrap: break-word;
}
.LeftHomeContent li:hover,.LeftHomeContent .LeftContent_top .ListStyle:hover{
    color: var(--ContenT-main-color);
    background-color: aliceblue;
    cursor: pointer;
}
.LeftHomeContent li.active,.LeftHomeContent .LeftContent_top .ListStyle.active {
    background-color:var(--activeColor);
    color: white;
}
.LeftContent_bottom i {
    /* background: gray; */
    cursor: pointer;
    padding: 4px 4px;
    border-radius: 2px;
}

.NewWork.d-flex.justify-content-between i:hover {
    background: var(--BackGround-Hover);
}
.LeftContent_bottom {
    overflow-y: auto;
    overflow-x: hidden;
}
.rightcontent.d-flex i {
    height: 30px;
    font-size: 30px;
    display: table-cell;
    vertical-align: baseline;
    align-items: center;
    text-align: center;
    line-height: inherit;
}
.rightcontent.d-flex h2{
    margin-left: 20px;
}
.TaskComp {
    width: 100%;
    flex-wrap: wrap;
    color: white;
    margin-bottom: 30px;
}
.TaskComp_Child{
    position: relative;
    overflow: hidden;
    width: 23%;
    height: 8rem;
    margin: 1%;
    background-color: violet;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
}
.TaskComp_Child:hover .Bottom i.fa-star-o{
color: yellow;  
transition: 0.3s ease-in-out;
transform: translateX(0px);
}
.TaskComp_Child:hover .Bottom i.fa-arrow-right{
    transition: 0.3s ease-in-out;
    transform: translateX(100px);
    }
.TaskComp_Child .Bottom i.fa-star-o{
    transform: translateX(100px);

}
.TaskComp_Child .Bottom i.fa-star-o:hover::before{
    content: "\f005";
}
.TaskComp_Child:hover:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    width: 25%;
    height: 25%;
    border-radius: 3px;
}
.TaskComp_Child:hover{
    filter: brightness(0.9);
}
.TaskComp_Child h5 {
    /* color: white; */
    width: 70%;
    /* text-wrap: balance; */
    min-height: 70%;
    word-wrap: break-word;
    /* overflow: auto; */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.TaskComp .Bottom{
    display: flex;
    justify-content: space-between;
}
.TaskComp .Bottom i{
    cursor: pointer;
    position: absolute;
    z-index: 99;
    right: 0;
    right: 10px;
    bottom: 10px;
}
/* -----------------Form----------- */
.formInput:focus{
    box-shadow: none !important;
}
/*-------------------------SearchBox---------------*/
input.form-control:focus {
    box-shadow: none;
}
.Select-Value {
    width: 100%;
    height: fit-content;
    max-height: 320px;
    overflow-y: auto;
    display: block;
}

.Select-Value .ChilToSelect {
    width: 100%;
    height: 40px;
    border: none;
    background: white;
    text-align: left;
}
.Select-Value .ChilToSelect:focus ,.Select-Value .ChilToSelect:active{
    background: var(--ContenT-main-color);
}
.Select-Value .ChilToSelect:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.Select-Value .ChilToSelect:hover {
    background: var(--ContenT-main-color);
}
/* CreateProJect */
.DisplayUser.IconComp i{
position: relative;
}
.DisplayUser.IconComp i.user_childElement{
    position: absolute;
    bottom: 12px;
    right: 16px;
    padding: 0;
    height: 0;
    width: 0;
    color: var(--ContenT-main-color);
    z-index: 90;
}
.DisplayUser.IconComp i.user_childElement:hover::before{
    content: "\f005";
}
/* workSpace */
.BackPrev{
    background: rgba(128, 128, 128, 0.152);
    width: 100%;
    height: auto;
    
}
.BackPrev i {
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 20px
}
/* jobcontent */
.ContentJob_DisplayBackGround{
background: var(--ContenT-main-color);
height: calc(100% - 70px);
width: fit-content;
min-width: 100%;
}
.TaskModul {
    width: 267px;
    max-height: calc(100% - 70px);
    min-height: 100px;
    margin: 0px 10px;
}
.TaskModul.TaskManage {

    margin: 0px 10px 0px 0px;
}
.TaskModul.TaskManage .BackGround_Task
{
    border-radius: 0px;
    background-color: #adb5bd;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.BackGround_Task{
    border-radius: 10px;
    background: #eeebeb;
    height: fit-content;
}
.head.d-flex {
    position: relative;
    max-height: 170px;
    justify-content: space-between;
    align-items: center;
}

.option {
    position: relative;
}

.option .DropDownList {
    position: absolute;
    display: none;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px 0px black;
    border-radius: 3px;
    width: 200px;
    z-index: 9999;
    right: -80px;
}

/* .ContentJob_DisplayBackGround.d-flex {
    overflow-x: auto;
} */

.TitleName .titlename_input {
    background: none;
    border: none;
}

.TitleName .titlename_input:focus {
    background: white;
    border: 1px solid blue;
    outline: none;
    padding: 0px 10px;
}

.Icon {
    cursor: pointer;
}

.option .DropDownList li {
    list-style: none;
    cursor: pointer;
    /* padding: 20px; */
}

.option .DropDownList ul {
    padding: 0px;
    margin: 0px;
}

.option .DropDownList li:hover {
    background: #c6c9ce;
    width: 100%;
}

.option .DropDownList div.LabelName {
    /* justify-content: center; */
    /* margin: auto; */
    text-align: center;
    /* display: flow-root; */
    position: relative;
    width: 100%;
}

.option .Close {
    right: 8px;
    /* justify-content: end; */
    /* display: flex; */
    position: absolute;
    top: 7px;
    cursor: pointer;
}
.Card {
    background: white;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 2px 3px -1px;
    cursor: pointer;
    margin: 2px 0px;
    justify-content: space-between;
    overflow: hidden;  
    position: relative;
    display: flex;
}
.Card:hover .Icon.iconCard{
display: block;
}
.Icon.iconCard i {
    padding: 10px;
    margin: 1px;
    /* position: absolute; */
    border-radius: 7px;
    /* top: 0; */
    /* right: 0; */
}
.Icon.iconCard i:hover{
    background:#c6c9ce ;
}
.Icon.iconCard {
    position: absolute;
    right: 0;
    top:0;
    display: none;

}
.Card:hover {
    filter: brightness(0.92);
}
.addCard {
    align-items: center;
    cursor: pointer;
}
.Body_ScollBar.d-flex {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: 7px;
    justify-content: space-between;
    margin: 0 4px;
    min-height: 0;
    padding: 1px 4px 0;
    z-index: 1;
}
.App::-webkit-scrollbar{
    width: 8px;
    height: 20px !important;
    background-color: var(--ContenT-main-color);
}
.App::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: white;
}
.body::-webkit-scrollbar {
    width: 8px;
    height: 8px;

}
.body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--ContenT-main-color,#091e420f);
}
.focusnone:focus{
    outline: none !important;
    box-shadow: none !important;  
}
.btn-close:focus{
    outline: none !important;
    box-shadow: none !important; 
}
 .body {
    max-height: calc(100vh - 170px - 40px);
        overflow-y: auto;
    overflow-x: hidden;
    /* font-family: "Roboto", Tofu; */

}
    .chillHeader {
        display: flex;
        align-items: center;
        padding: 9px 0px;
    }
    
    .chillHeader i {
        margin-right: 12px;
    }
    
    .ListComment .CommentComp {
        display: flex;
        /* grid: inherit; */
        justify-content: space-between;
        margin: 10px 0;
        align-items: start;
    }
    .ListComment .AvaPlace {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-origin: border-box;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: auto;
        background-size: contain;
    }
    
    .CommentPlace {
        width: 92%;
    }
    .CommentTag {
        background: #fff;
        padding: 6px;
        border-radius: 5px;
        box-shadow: 0px 1px 1px 0px;
    }
    .UserNameCom {
        margin-bottom: 3px;
    }
    .UserNameCom b {
        margin-right: 8px;
        font-size: 14px;
    }
    
    .UserNameCom i {
        font-size: 11px;
    }
    .LeftCard{
        min-width: 250px;
        width: calc(100% - 250px);
    }
    .RightCard{
        width: 200px;
    }
    .actionChill.Icon {
        padding: 7px 5px;
        background: #e9ecef;
        margin: 6px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        position: relative;
    }
    
    .actionChill.Icon i {
        margin-right: 8px;
        font-size: larger;
        margin-left: 8px;
    }
    
    .actionChill.Icon:hover {
        background: #adb5bd;
    }
    .HidenMember {
        /* display: none; */
        position: absolute;
        background: white;
        top: 100%;
        padding: 12px;
        left: 0;
        box-shadow: 1px 1px 8px -3px black;
        z-index: 99;
        width: max-content;
        height: max-content;
        border-radius: 5px;
    }
    .ListMemChill {
        display: flex;
        /* justify-content: space-around; */
        align-items: center;
        background: #e9ecef;
        border-radius: 4px;
        padding: 3px;
        margin-top: 5px;
    }
   .isIn{
    margin-left: auto;
    color: green;
   } 
    .useimg {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-origin: border-box;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 10px;
        background-size: contain;
    }
    .ml-auto{
        margin-left: auto;
    }
    .ListMemChill:hover {
        background: #adb5bd;
    }
    
    .actionChill.Icon.active {
        background: #adb5bd;
    }
    .ModelHeader {
        display: flex;
    }
    
    .TitleHead.w-80 {
        width: 90%;
        text-align: center;
    }
    .membercard {
        background: #e9ecef;
        padding: 6px;
        margin: 2px;
        border-radius: 4px;
        cursor: pointer;
        width: max-content;
    }
    .wrapContent{
flex-wrap: wrap;
    }
    .MemberInCard {
        margin-right: 20px;
        margin-bottom: 10px;
    }
    .membercard:hover {
        background: #dee2e6;
    }
    .ListMemChill_Label {
        height: 25px;
        width: 200px;
        margin: 7px;
        display: flex;
        align-items: center;
    }
    
    .ColorDiv {
        width: 90%;
        height: 100%;
        margin-left: auto;
        border-radius: 3px;
    }
    .ColorDiv:hover{
        filter: brightness(0.8);
    }
    .membercard.label {
        width: 50px;
        height: 25px;
    }
    .headcard{
        flex-wrap: wrap;
    }
    .CheckListProcess.mb-2.d-flex {
        align-items: center;
    }
    
    .CheckListProcess.mb-2.d-flex span {
        width: 60px;
    }
    .CheckListHeader_0 i {
        font-size: 25px;
        width: 50px;
    }
    .d-flex.editchil {
        width: 100%;
        margin-bottom: 10px;
        align-items: baseline;
    }
    .BodyContent{flex-wrap: wrap;}
    .editzone {
        width: 90%;
        margin-left: auto;
    }
    .react-datepicker__input-container{
        width: 100%;
    }

    .react-datepicker__input-container input{
        width: 100%
    }

@media(max-width: 1200px) {
    .option .DropDownList{
        right: auto;
            }
    .TaskComp_Child{
        width: 31%;
    }
    .LeftHomeContent{
        width: calc(1400px - 1200px); 
    }
    
  }
  li.noti {
    display: flex;
    color: darkgrey;
    align-items: center;
    padding: 6px;
    margin: auto;
    width: 100%;
}

ul.NotiList {
    width: 100%;
}

li.noti:before {
    content: "-";
    margin-right: 12px;
}
.labelDis {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
}

.labelDis div {
    width: 24%;
    height: 10px;
    border-radius: 2px;
    margin: 1px;
}
.bottomDis {
    display: flex;
    justify-content: end;
    width: 110%;
}
.bottomDis span {
    /* width: 15%; */
    width: 16%;
    height: auto;
}

.bottomDis span {
    text-align: right;
}
.bottomDis div {
    border-radius: 4px;
    margin-left: 10px;
    color: white;text-align: center;padding: 0px 10px
}

.bottomDis div i {
    margin-right: 8px;
}
section 
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}
section::before 
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,var(--ContenT-main-color),#ffff);}
section span 
{
  position: relative;
  display: block;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: #181818;
  z-index: 2;
  transition: 1.5s;
}
section span:hover 
{
  background: var(--ContenT-main-color);
  transition: 0s;
}

section .signin
{
  position: absolute;
  width: 400px;
  background: #222;  
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0,0,0,9);
}
section .signin .content 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
section .signin .content h2 
{
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
}
section .signin .content .form 
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
section .signin .content .form .inputBox
{
  position: relative;
  width: 100%;
}
section .signin .content .form .inputBox input 
{
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}
section .signin .content .form .inputBox i 
{
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}
.signin .content .form.checked .inputBox.checkWrong::before{
    content: "✕ Thông tin cần nhập";
    color: red;
}
.signin .content .form.checked .inputBox.SaiMatKhau::before{
    content: "✕ Mật khẩu nhập không trùng khớp";
    color: red;
}
.signin .content .form.checked .inputBox.DungMk::before{
    content: "✓ trùng khớp";
    color: green;
}
.signin .content .form.checked .inputBox input.formInput:invalid::before{
    content: "del";
    color: red;
    border: thin solid red;
    }
.signin .content .form.checked .inputBox input.formInput:invalid {
color: red;
border: thin solid red;
}
.signin .content .form.checked .inputBox input.formInput:invalid ~ i {
    color: red;  
}
.signin .content .form .inputBox input:focus ~ i,
.signin .content .form .inputBox input:valid ~ i
{
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}
.signin .content .form .links 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.signin .content .form .links a 
{
  color: #fff;
  text-decoration: none;
}
.signin .content .form .links a:nth-child(2)
{
  color: var(--ContenT-main-color);
  font-weight: 600;
}
.signin .content .form .inputBox input[type="submit"]
{
  padding: 10px;
  background: var(--ContenT-main-color);
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}
input[type="submit"]:active
{
  opacity: 0.6;
}
@media (max-width: 900px)
{
  section span 
  {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}
@media (max-width: 600px)
{
  section span 
  {
    width: calc(20vw - 2px);
    height: calc(20vw - 2px);
  }
}
  @media(max-width: 769px ) {
    .TaskComp_Child{
        width: 48%;
    }
    
    }
    @media (min-width: 576px)
{
    .modal-dialog{
        max-width: fit-content !important;
        margin:0.5rem auto !important ;
    }
}
    @media(max-width: 480px) {
        .option .DropDownList{
            right: 0;
                }
        .TaskComp_Child{
            width: 100%;
        }
        .LeftHomeContent{
display: none;        }
        .RightHomeContent{
margin: auto;
        }
        .LeftBar{
            display: none;
        }
      }